
.section-div {
    width: 1384px;
    margin-left: 32px;
    /* margin-right: 32px; */
}

.section-heading {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 24px 0px;
}

/* .album-div {
    display: flex;
    justify-content: flex-start;
    width: 122px;
    height: 30px;
} */

.album-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: var(--color-white);
}

/* .collapse-div {
    display: flex;
    justify-content: flex-end;
    width: 90px;
    height: 30px;
} */

.collapse-heading {
    color: var(--color-primary);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 24px 40px;
}