.card {
  width: 159px;
  height: 231px;
  background-color: var(--color-black);
}

a {
  text-decoration: none;
}

.cardImg {
  height: 170px;
  width: 159px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.chipContainer {
  width: 159px;
  height: 35px;
  border-radius: 0px 0px 10px 10px;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
}

.chip {
  gap: 1px;
  padding: 4px 8px;
  width: auto;
  height: 23px !important;
  font-size: 10px !important;
  margin-left: 8px !important;
  border-radius: 10px;
  background-color: var(--color-black) !important;
  color: var(--color-white) !important;
  font-weight: 400 !important;
  font-family: "Poppins", sans-serif !important;
  /* line-height: 15px !important; */
  /* padding-right: 8px !important;
    padding-left: 8px !important; */
}

.title {
  font-family: "Poppins", sans-serif;
  color: var(--color-white);
  height: 27px;
  font-weight: 400;
  font-size: 14px;
  line-height: normal;
  padding: 6px 0px 3px 1px;
}
