.hero {
    width: 100vw;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-black);
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.headphone {
    width: 212px;
    height: 212px;
}